src/main/resources/wsdl/cizrvdrV4.wsdl.org

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.ciz.nl/rechtspraak/rinis/request/v4"
	targetNamespace="http://www.ciz.nl/rechtspraak/rinis/request/v4">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.ciz.nl/rechtspraak/rinis/request/v4">

			<xs:element name="RechtspraakRequestBericht">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ConversationId" type="tns:Token60" />
						<xs:element name="Action">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="BD-030001_Indiening" />
									<xs:enumeration
										value="BD-030004_Verzoek_verstrekking" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" maxOccurs="1729" name="Stuk">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MimeContentType" type="xs:string" />
									<xs:element name="MimeContentId" type="xs:string" />
									<xs:element name="Bestandsnaam" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern
													value="[a-zA-Z0-9 ][a-zA-Z0-9 -.]{0,199}" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Content" type="xs:base64Binary" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Content">
							<xs:complexType>
								<xs:sequence>
									<xs:any namespace="##other" processContents="lax" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="Response">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Response" type="xs:string"></xs:element>
								<xs:element name="fault" type="xs:string"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>

					<xs:simpleType name="Token60">
						<xs:restriction base="xs:string">
							<xs:maxLength value="60" />
						</xs:restriction>
					</xs:simpleType>
				</xs:schema>
	</wsdl:types>
	<wsdl:message name="RechtspraakRequestBericht">
		<wsdl:part element="tns:RechtspraakRequestBericht"
			name="RechtspraakRequestBericht" />
		<wsdl:message name="Response">
			<wsdl:part element="tns:Response" name="Response" />
		</wsdl:message>
		<wsdl:portType name="RechtspraakPort">
			<wsdl:operation name="RechtspraakRequest">
				<wsdl:input message="tns:RechtspraakRequestBericht"
					name="RechtspraakRequestBericht">
				</wsdl:input>
				<wsdl:output name="Response" message="tns:Response" />
			</wsdl:operation>
		</wsdl:portType>
		<wsdl:binding name="RechtspraakPortSoap12"
			type="tns:RechtspraakPort">
			<soap12:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http" />
			<wsdl:operation name="RechtspraakRequest">
				<soap12:operation soapAction="rechtspraakRequest" />
				<wsdl:input name="RechtspraakRequestBericht">
					<soap12:body use="literal" />
				</wsdl:input>
			</wsdl:operation>
		</wsdl:binding>
		<wsdl:service name="RechtspraakPortService">
			<wsdl:port binding="tns:RechtspraakPortSoap12"
				name="RechtspraakPortSoap12">
				<soap12:address
					location="http://localhost:8080/rechtspraakservice" />
			</wsdl:port>
		</wsdl:service>
</wsdl:definitions>